PLUGINATOR_URL=http://app.hub.infl.dev/pluginator/plugins/__APPNAME__
PLUGINATOR_USER=pluginator
PLUGINATOR_PASS=illbeback
CDN_URL=http://localhost:3079/build
SERVICE_URL=http://localhost:3079
NODE_ENV=development
