PLUGINATOR_URL=http://app.hub.infl.dev/pluginator/plugins/community_feed
PLUGINATOR_USER=pluginator
PLUGINATOR_PASS=illbeback
CDN_URL=http://localhost:3079/build
SERVICE_URL=http://thinky.infl.dev:7016/api/opportunities
NODE_ENV=development
